body{
    margin: 0;
    background: black; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    margin: 0 auto; 
    width: 600px;
}

#gameCanvas {
    background: black;
    margin-top: -1%;
    height: 99.5vh;
    width: 92%;
    border: 5px solid white;
}

.containBorder {
    border-left: 558px solid white;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14vh;
}

.borderLine {
    border-left: 5px solid white;
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    position: absolute;
    top: 0;
    bottom: 0;
}

.borderLine1 { 
    left: 15%; 

}
.borderLine2 { 
    left: 30%; 
}

.borderLine3 { 
    left: 45%; 
}

.borderLine4 { 
    left: 60%; 
}

.borderLine5 { 
    left: 75%; 
}

.btnContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: center;
}

.btn1 {
    margin-left: -48%;
    margin-right: 6.5%;
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}

.btn2 {
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}

.btn3 {
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}

.btn4 {
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}

.btn5 {
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}

.btn6 {
    margin-bottom: .5vh;
    width: 12.35%;
    height: 13%
}





